<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eina.unizar.front_end_movil">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan|adjustResize"
        android:usesCleartextTraffic="true">
        <activity android:name=".MenuPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="DecisionJuego"
            android:parentActivityName="DecisionJuego" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DecisionJuego" />
        </activity>
        <activity
            android:name=".CambiarPassword"
            android:parentActivityName=".CambiarPassword" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CambiarPassword" />
        </activity>
        <activity
            android:name=".EnviarCodigoVerificacion"
            android:parentActivityName=".EnviarCodigoVerificacion" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EnviarCodigoVerificacion" />
        </activity>
        <activity
            android:name=".RegistroUsuario"
            android:parentActivityName=".RegistroUsuario" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RegistroUsuario" />
        </activity>
        <activity
            android:name=".AjustesUsuario"
            android:parentActivityName=".AjustesUsuario" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AjustesUsuario" />
        </activity>
        <activity
            android:name=".PerfilUsuario"
            android:parentActivityName=".PerfilUsuario" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PerfilUsuario" />
        </activity>
        <activity
            android:name=".CambiarAvatar"
            android:parentActivityName=".CambiarAvatar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CambiarAvatar" />
        </activity>
        <activity
            android:name=".DecisionIndividual"
            android:parentActivityName=".DecisionIndividual" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DecisionIndividual" />
        </activity>
        <activity
            android:name=".AbandonarPartida"
            android:parentActivityName=".AbandonarPartida" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AbandonarPartida" />
        </activity>
        <activity
            android:name=".JuegoIndividual"
            android:parentActivityName=".JuegoIndividual" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JuegoIndividual" />
        </activity>
        <activity
            android:name=".FinPartidaIndv"
            android:parentActivityName=".FinPartidaIndv" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FinPartidaIndv" />
        </activity>
        <activity
            android:name=".DecisionMultijugador"
            android:parentActivityName=".DecisionMultijugador" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DecisionMultijugador" />
        </activity>
        <activity
            android:name=".CrearPartidaMultijugador"
            android:parentActivityName=".CrearPartidaMultijugador" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CrearPartidaMultijugador" />
        </activity>
        <activity
            android:name=".JuegoMultijugador"
            android:parentActivityName=".JuegoMultijugador" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JuegoMultijugador" />
        </activity>
        <activity
            android:name=".FinPartidaMulti"
            android:parentActivityName=".FinPartidaMulti" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FinPartidaMulti" />
        </activity>
        <activity
            android:name=".PantallaChat"
            android:parentActivityName=".PantallaChat" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PantallaChat" />
        </activity>
        <activity
            android:name=".PantallaTienda"
            android:parentActivityName=".PantallaTienda" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PantallaTienda" />
        </activity>
        <activity
            android:name=".ObjetoTienda"
            android:parentActivityName=".ObjetoTienda" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ObjetoTienda" />
        </activity>
        <activity
            android:name=".InstruccionesJuego"
            android:parentActivityName=".InstruccionesJuego" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InstruccionesJuego" />
        </activity>
        <activity
            android:name=".Ranking"
            android:parentActivityName=".Ranking" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Ranking" />
        </activity>
        <activity
            android:name=".Historial"
            android:parentActivityName=".Historial" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Historial" />
        </activity>
    </application>

</manifest>