<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eina.unizar.front_end_movil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="DecisionJuego"
            android:parentActivityName="DecisionJuego" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="DecisionJuego" />
        </activity>
        <activity
            android:name=".CambiarPassword"
            android:parentActivityName=".CambiarPassword" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CambiarPassword" />
        </activity>
        <activity
            android:name=".RegistroUsuario"
            android:parentActivityName=".RegistroUsuario" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RegistroUsuario" />
        </activity>
        <activity
            android:name=".AjustesUsuario"
            android:parentActivityName=".AjustesUsuario" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AjustesUsuario" />
        </activity>
        <activity
            android:name=".PerfilUsuario"
            android:parentActivityName=".PerfilUsuario" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PerfilUsuario" />
        </activity>
        <activity
            android:name=".CambiarAvatar"
            android:parentActivityName=".CambiarAvatar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CambiarAvatar" />
        </activity>
        <activity
            android:name=".DecisionIndividual"
            android:parentActivityName=".DecisionIndividual" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DecisionIndividual" />
        </activity>
        <activity
            android:name=".AbandonarPartida"
            android:parentActivityName=".AbandonarPartida" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AbandonarPartida" />
        </activity>
        <activity
            android:name=".JuegoIndividual"
            android:parentActivityName=".JuegoIndividual" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JuegoIndividual" />
        </activity>
        <activity
            android:name=".FinPartidaIndv"
            android:parentActivityName=".FinPartidaIndv" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FinPartidaIndv" />
        </activity>
    </application>

</manifest>